
<section class="container-fluid hori-padd">
    <!-- First block: Jumbotron -->
    <section class="row hero-section">
        <section class="col-12 col-md-4 hero-jumbotron">
            <h1 class="display-3">Carbon Negative, Planet Positive.</h1>
            <p class="lead">We remove more CO2 than we create.</p>
        </section>
        
        <!-- Second block: Image 1 -->
        <section class="col-12 col-md-4 image-container">
            <img src="assets/hero3_1.png" alt="Image 1">
        </section>
        
        <!-- Third block: Image 2 -->
        <section class="col-12 col-md-4 image-container">
            <img src="assets/hero3_2.png" alt="Image 2">
        </section>
    </section>
</section>
