<!-- video.component.html -->
 <div class="container">
  <div class="video-container bg-dark">
  <video #videoElement autoplay muted loop>
      <source src="assets/vid1.mp4" type="video/mp4">
      Your browser does not support the video tag.
  </video>
  <div class="banner-text-container">
      <section class="jumbotron">
          <span class="display-6 banner-text">
              Don't Panic, It's Organic
          </span>
          <span class="lead banner-text lead-text">
            Better for your skin. Better for our planet.
          </span>
      </section>
  </div>
</div>

 </div>
