.jumbotron {
    /* padding-top: 7rem;
    padding-bottom: 12rem; */
    padding: 5rem 20px; /* Padding for the jumbotron */
    text-align: center; /* Center-align text */
  }
  



.lead {
    font-family: 'Arial', sans-serif;
    font-weight: 300; /* Light weight */
    font-size: .8rem; /* Adjust as needed */
    color: #333; /* Dark color for better readability */
    position: relative;
    display: inline-block;
    margin: 0;
    padding-bottom: 5px; /* Space for the underline */
  }
  
  .lead::before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ccc; /* Light grey line */
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
  .lead::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background-color: #333; /* Darker line */
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease; /* Smooth transition for the darker line */
  }
  
  .lead:hover::after {
    width: 100%;
  }